<div class="bsp-page-title-wrapper"{{#if style}} style="{{style}}"{{/if}}>
	<div class="bsp-container">
		<div class="bsp-row">
			<div class="bsp-column-full">
				<h1 class="bsp-page-title"{{#if this.pageTitle.style}} style="{{this.pageTitle.style}}"{{/if}}>{{render this.pageTitle}}</h1>
			</div>
		</div>
	</div>
</div>
