<div class="bsp-page-title-wrapper"{{#if style}} style="{{style}}"{{/if}}>
     <div class="bsp-container">
        <div class="bsp-row">
            <div class="bsp-column-full">
                <h1 class="bsp-page-title" data-bsp-truncate data-bsp-truncate-options='{"maxLines" : {{options.maxLines}} }' >{{render this.pageTitle}}</h1>
            </div>
        </div>
    </div>
</div>