<div class="bsp-component jsg-section-inline-title{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	<div class="jsg-section-inline-module">
		{{#with title}}
			<h2 class="bsp-component-title">{{render this}}</h2>
		{{/with}}
		{{#with content}}
			<div class="bsp-component-content">
				{{render this}}
			</div>
		{{/with}}
	</div>
</div>