<div class="bsp-component-content">
    <div class="legend">
            {{#if legendItems}}
                <ul class="bsp-list-inline">
                    {{#each legendItems}}
                        <li class="legend-item {{className}}">{{title}}</li>
                    {{/each}}
                </ul>
            {{/if}}
    </div>
</div>
