<blockquote class="bsp-component dev-blockquote">
	<span class="dev-blockquote-content" style="{{#if contentColor}}color: {{contentColor}}{{/if}}">{{content}}</span>
	<span class="dev-blockquote-author" style="{{#if authorColor}}color: {{authorColor}}{{/if}}">{{author}}</span>
</blockquote>