<div class="bsp-component dev-caption" style="{{#if options.width}}width: {{options.width}}px; {{/if}}">
	{{#with content}}<div class="dev-caption-content">{{render this}}</div>{{/with}}
	{{#with text}}<div class="dev-caption-text">{{render this}}</div>{{/with}}
	{{#with credit}}<div class="dev-caption-credit">{{render this}}</div>{{/with}}
</div>