<div class="bsp-component jsg-section-title{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
    <div class="bsp-component-content">
        {{#with title}}
            <h3>{{render this}}</h3>
        {{/with}}
    </div>
</div>
