<div class="bsp-component jsg-video-player{{#if options.aspectRatio}} ratio-{{options.aspectRatio}}{{/if}}" style="{{#if options.maxWidth}}max-width: {{options.maxWidth}}px; {{/if}}">
{{#with player}}
	{{render this}}
{{/with}}
</div>