<div class="bsp-component jsg-caption" style="{{#if options.width}}width: {{options.width}}px; {{/if}}">
	{{#with content}}<div class="jsg-caption-content">{{render this}}</div>{{/with}}
	{{#with text}}<div class="jsg-caption-text">{{render this}}</div>{{/with}}
	{{#with credit}}<div class="jsg-caption-credit">{{render this}}</div>{{/with}}
</div>