.ts-header-1, .ts-header-2, .ts-header-3 {
    font-family: @font-family-secondary;
    font-weight: @font-weight-base;
}

@font-face {
  font-family: 'deveire-icons';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/deveire.eot"); 
  src: url("/assets/fonts/deveire.eot#iefix") format('embedded-opentype'),
       url("/assets/fonts/deveire.woff") format('woff'),
       url("/assets/fonts/deveire.ttf") format('truetype'),
       url("/assets/fonts/deveire.svg") format('svg');
}