<!DOCTYPE html>
<html lang="en">
    <head{{#if headAttributes}} {{> common/attributes headAttributes}}{{/if}}>
        {{render head}}
    </head>
    <body class="{{bodyCssClass}}">
        {{render body}}
    </body>
</html>
