<!DOCTYPE html>
<html>
    <head>
        <title>DevEire Demo Styleguide</title>
        <script src="/_head.js"></script>
    </head>
    <body class="deveire-styleguide-component">

        <div class="bsp-site-wrapper">

            <div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/dev-site-header/dev-header.json" }'></div>

                <div class="bsp-site section-dev">

                    <div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/dev-large-promo/dev-large-promo.json" }'></div>

                </div>

            </div>

        </div>

        <div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/dev-site-footer-simple/dev-site-footer.json" }'></div>

    </body>
</html>
